
<div class="container px-5 px-sm-0 pt-4">

  <div class="col-md-12 row">
    <label class="h4 px-4 bg-light">商品新規登録</label>
  </div>

  <div class="pt-4 mx-auto col-8">
    <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td class="col-3">商品画像</td>
          <td>
            <%= f.file_field :image, accept: "image/*", class: 'btn-font-size-sm' %>
          </td>
        </tr>
        <tr>
          <td>商品名</td>
          <td>
              <%= f.text_field :name, placeholder:"商品名", class: 'col-8 px-1 border-secondry' %>
          </td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td>
            <%= f.text_area :introduction, placeholder:"ここに説明文を記述します", class: 'col-8 px-1 border-secondry', rows: '6' %>
          </td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td>
              <%= f.collection_select :genre_id, @genres, :id, :name, { prompt: '-- 選択してください --' }, class: 'col-8 px-1' %>
          </td>
        </tr>
        <tr>
          <td>税抜価格</td>
          <td><%= f.number_field :price, placeholder:"1000", class: 'col-8 px-1 mr-1 border-secondry' %><span>円</span></td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <td class="form-check form-check-inline">
              <div class="border-bottom"><%= f.radio_button :is_active,"true" %> 販売中</div>
              <div class="ml-4 border-bottom"><%= f.radio_button :is_active,"false" %> 販売停止中</div>
          </td>
        </tr>
    </tbody>
  </table>
    <div class="d-grid gap-2 col-4 mx-auto my-4">
      <%= f.submit '新規登録',class: 'btn btn-success btn-font-size-lg py-3 px-5' %>
    </div>
    <% end %>
  </div>

</div>