<div class="container px-5 px-sm-0 pt-4">

  <div class="col-12 row">
    <label class="h4 px-4 bg-light">注文詳細履歴</label>
  </div>

  <div class="pt-4 h5">
    <div class="row my-3">
      <div class="col-3">
        <b>購入者</b>
      </div>
        <div>
          <u>
            <%= link_to ApplicationHelper.full_name(@order.customer.last_name , @order.customer.first_name),admin_customer_path(@order.customer.id), class: 'text-dark' %>
          </u>
        </div>
    </div>
    <div class="row my-3">
      <div class="col-3">
        <b>注文日</b>
      </div>
        <div>
            <%= @order.created_at.strftime('%Y/%m/%d') %>
        </div>
    </div>
    <div class="row my-3">
      <div class="col-3">
        <b>配送先</b>
      </div>
        <div>
          〒<%= @order.postal_code %>
          <%= @order.address %><br>
          <%= @order.name %>
        </div>
    </div>
    <div class="row my-3">
      <div class="col-3">
        <b>支払い方法</b>
      </div>
        <div>
          <%= @order.payment_method_i18n %>
        </div>
    </div>
    <div class="row my-3">
      <div class="col-3 pt-2">
        <b>注文ステータス</b>
      </div>
        <div class="col-8 pl-0">
          <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
            <%= f.select :order_status, Order.order_statuses_i18n.invert, { prompt: false },class: 'col-3' %>
            <%= f.submit '更新',class: 'btn btn-success py-2 px-3 ml-4' %>
          <% end %>
        </div>
    </div>
  </div>

  <div class="pt-4 row ">
    <div class="col-9">
      <table class="table table-hover table-inverse">
        <thead class="bg-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @order_items.each do |order_item| %>
          <tr>
            <td>
              <%= order_item.item.name %>
            </td>
            <td>
              <%= order_item.item.taxin_price.round.to_s(:delimited) %>
            </td>
            <td>
              <%= order_item.amount %>
            </td>
            <td>
              <%= order_item.sum_of_price.round.to_s(:delimited) %>
            </td>
            <td class="pt-1">
              <div class="form-group h5">
              <%= form_with model: @order_item, url: admin_order_item_path, method: :patch do |f| %>
                <%= f.select :manufacture_status, OrderItem.manufacture_statuses_i18n.invert, { prompt: order_item.manufacture_status_i18n },class: 'col-6' %>
                <%= f.submit '更新',class: 'btn btn-success py-2 px-3 ml-4' %>
              <% end %>
              </div>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-3">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>商品合計</td>
            <td>
              <% @total = @order.billing_amount - @order.postage %>
              <%= @total.round.to_s(:delimited) %>円
            </td>
          </tr>
          <tr>
            <td>送料</b></td>
            <td><%= @order.postage.round.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <td>
              <b>請求金額合計</b>
            </td>
            <td>
              <b><%= @order.billing_amount.round.to_s(:delimited) %>円</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>