<div class="container px-5 px-sm-0 pt-4">

  <div class="col-md-12 row">
    <label class="h4 px-4 bg-light">注文詳細履歴</label>
  </div>

  <div class="pt-4 h5">
    <div class="row my-3">
      <div class="col-3">
        <b>購入者</b>
      </div>
        <div>
          <u>
            <%= link_to ApplicationHelper.full_name(@order.customer.last_name , @order.customer.first_name),admin_customer_path(@order.customer.id), class: 'text-dark' %>
          </u>
        </div>
    </div>
    <div class="row my-3">
      <div class="col-3">
        <b>注文日</b>
      </div>
        <div>
            <%= @order.created_at.strftime('%Y/%m/%d') %>
        </div>
    </div>
    <div class="row my-3">
      <div class="col-3">
        <b>配送先</b>
      </div>
        <div>
          〒<%= @order.postal_code %>
          <%= @order.address %><br>
          <%= @order.name %>
        </div>
    </div>
    <div class="row my-3">
      <div class="col-3">
        <b>支払い方法</b>
      </div>
        <div>
          <%= @order.payment_method_i18n %>
        </div>
    </div>
    <div class="row my-3">
      <div class="col-3 pt-2">
        <b>注文ステータス</b>
      </div>
        <div class="col-8 pl-0">
          <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
            <%= f.select :order_status, ApplicationRecord.order_statuses_i18n.keys.map{|k| [I18n.t("enums.application_record.order_status.#{k}"),k]},{ prompt: false },class: 'col-3 ' %>
            <%= f.submit '更新',class: 'btn btn-success py-2 px-3 ml-4' %>
          <% end %>
        </div>
    </div>
  </div>

  <div class="pt-4">
    <table class="table table-hover table-inverse col-9">
      <thead class="bg-light">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>制作ステータス</th>
        </tr>
      </thead>
      <tbody>
      <% @order.order_items.each do |order_item| %>
        <tr>
          <td>
            <%= order_item.item.name %>
          </td>
          <td>
            <%= ApplicationHelper.tax_price(order_item.price) %>
          </td>
          <td>
            <%= order_item.amount %>
          </td>
          <td>
            <%= "#{ ApplicationHelper.tax_price(order_item.price).to_i * order_item.amount.to_i }" %>
          </td>
          <td class="pt-1 h5">
            <%= form_with model: @order_item, url: "/admin/order_items/#{@order.id}", method: :patch do |f| %>
              <%= f.select :manufacture_status, ApplicationRecord.manufacture_statuses_i18n.keys.map{|k| [I18n.t("enums.application_record.manufacture_status.#{k}"),k]},{ prompt: false },class: 'col-6' %>
              <%= f.submit '更新',class: 'btn btn-success py-2 px-3 ml-4' %>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>