<div class="container px-5 px-sm-0 pt-4">

  <div class="col-md-12">
    <label class="h4 px-4 bg-light">ログイン</label>
  </div>
  <div class="col-md-12">
    <label class="px-4 mt-5 bg-light">
      <b>会員の方はこちらからログイン</b>
    </label>
  </div>

  <div>
    <%= form_with model: @customer,url: customer_session_path do |f| %>
    <table class="table table-borderless ml-5">
      <tbody>
        <tr>
          <td class="col-3 text-right">メールアドレス</td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"sample@exanple.com",class: "col-8 px-1" %></td>
        </tr>
        <tr>
          <td class="text-right">パスワード　　</td>
          <td><%= f.password_field :password, autocomplete: "current-password",class: "col-8 px-1" %></td>
        </tr>
        <tr>
          <td></td>
          <td class="py-4"><%= f.submit "ログイン",class: 'btn btn-primary btn-font-size-lg px-5' %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
  <div class="col-md-12 mb-5">
    <label class="px-4 bg-light">
      <b>会員登録がお済みでない方</b>
    </label>
  <div class="col-6 pl-4 pt-2 pb-5 row mx-auto">
    <div>
      <u><%= link_to "こちら",new_customer_registration_path %></u>
    </div>
    <div>
    　から新規登録を行なってください。
    </div>
  </div>
</div>

</div>
