<div class="container col-12 px-sm-0 pt-4 row">
  <%= render partial: 'layouts/genre_search',locals: { genres: @genres } %>

  <div class="row col-9 mx-auto">
    <div>
      <%= image_tag @item.get_image(200,300), class: "mx-3 mt-3" %>
    </div>
    <div class=" col-6 ml-5 mt-3 px-0">
      <h4><b><%= @item.name %></b></h4>
      <p class="h5"><%= @item.introduction %></p>
      <div class="pt-4">
        <b class="h3">¥ <%= ApplicationHelper.tax_price(@item.price) %></b>
        <span>(税込)</span>
      </div>
      <div class="ml-1 mt-5 h5 row">
        <form>
        <%= form_with model: @cart_item, url: public_cart_items_path, method: :post do |f| %>
          <div class="form-group mr-5">
            <%= f.select :amount, class: "form-control" do %>
              <option selected="selected" class="text-light">個数選択　　</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            <% end %>
          </div>
        </form>
          <div class="ml-0">
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.submit "カートに入れる", class: 'btn btn-success px-3' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>