<!DOCTYPE html>
<html>
  <head>
    <title>ながのCAKE</title>

    <script src="https://kit.fontawesome.com/3d818d0ed0.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="border-bottom pb-2">
      <div class="container col-11">
        <nav class="navbar navbar-expand-lg navbar-light mt-2 pt-4 pb-3 pr-0">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if customer_signed_in? %>
                  <li class="nav-item mx-3">
                    <%= link_to 'マイページ',public_customer_path(@current_customer.id), class: 'nav-link text-dark border rounded' %>
                  </li>
                  <li class="nav-item mx-3">
                    <%= link_to '商品一覧',public_items_path, class: 'nav-link text-dark border rounded' %>
                  </li>
                  <li class="nav-item mx-3">
                    <%= link_to 'カート',public_cart_items_path, class: 'nav-link text-dark border rounded' %>
                  </li>
                  <li class="nav-item mx-3">
                    <%= link_to 'ログアウト',destroy_customer_session_path, method: :delete, class: 'nav-link text-dark border rounded'%>
                  </li>
                <% else %>
                  <li class="nav-item mx-3">
                    <%= link_to 'About',public_about_path, class: 'nav-link text-dark border rounded' %>
                  </li>
                  <li class="nav-item mx-3">
                    <%= link_to '商品一覧',public_items_path, class: 'nav-link text-dark border rounded' %>
                  </li>
                  <li class="nav-item mx-3">
                    <%= link_to '新規登録',new_customer_registration_path, class: 'nav-link text-dark border rounded' %>
                  </li>
                  <li class="nav-item mx-3">
                    <%= link_to 'ログイン',new_customer_session_path, class: 'nav-link text-dark border rounded' %>
                  </li>
                <% end %>
              </ul>
            </div>
        </nav>
        <div class="row">
          <div class="row col-9">
            <h2>ながの<strong><span style="color:orange">C</span></strong>AKE<i class="fa-solid fa-cookie-bite"></i></h2>
            <div class="row mx-auto text-center text-nowrap">
              <% if customer_signed_in? %>
                <label>ようこそ、</label>
                <label><%= @current_customer.last_name %>さん！</label>
              <% end %>
            </div>
          </div>
          <!--検索窓-->
          <form class="col-3 py-0 px-0 mr-3 ml-auto">
            <div class="input-group ">
              <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </span>
            </div>
          </form>
            <!------->
        </div>
      </div>
    </header>

    <mian class="mb-auto">
      <%= yield %>
    </mian>

    <footer class="pt-5 pb-4 border-top">

    </footer>

  </body>
</html>